body {
    background-color: #ffffff !important; /* White background for the page */
    color: #000000; /* Black text color */
    margin: 0;
    font-family: Arial, sans-serif; /* Optional: change to your preferred font */
  }
  main {
    background-color: #ffffff !important; /* White background for the page */
    color: #000000;
  }
  