.container {
  display: flex !important;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  text-align: center;

  .title-khuyenmai {
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
    color: rgb(255, 255, 255);
  }

  .col-3 {
    flex: 1 1 calc(25% - 1rem);
    color: white;
    margin: 1rem auto;

    .card {
      width: 100%;

      .card-title {
        font-size: 20px;
        font-weight: bold;
      }

      .card-text {
        font-size: 15px;
        font-weight: 300;
      }

      .card-img-top {
        object-fit: cover;
        height: 200px;
      }

      .card-body {
        text-align: left;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container .col-3 {
    flex: 1 1 calc(33.33% - 1rem);
  }
}

@media (max-width: 768px) {
  .container .col-3 {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 576px) {
  .container .col-3 {
    flex: 1 1 calc(100% - 1rem);
  }
}
