
.containers {
    max-width: 1600px !important;
    margin: auto;
    padding: 20px;
  }
  
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; 
  height: 300px; 
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px; /* Optional spacing between cards */
}

/* Card image */
.card-img-top-1 {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
  object-position: center;
}
.card-img-top {
  width: 100%;
  height: 150px; /* Fixed height for the image section */
  object-fit: cover; /* Ensures image covers the area without stretching */
  object-position: center;
}

/* Card body */
.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  text-align: center; /* Centers text content */
}

/* Event date */
.card-text-date {
  font-size: 0.9em;
  color: #ddd;
  margin-top: auto;
}

.title-card{
  
}
.card-title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

/* Event description */
.card-text {
  font-size: 0.9em;
  color: #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Truncates long descriptions */
}

/* Grid layout for card containers */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive layout */
  gap: 20px; /* Spacing between cards */
}

 