* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: 217.2 32.6% 17.5%;
}

body {
  padding-top: 70px;
}

/* Header styling */
header {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 70px;
  background-color: rgba(5, 11, 23, 0.7);
  backdrop-filter: blur(20px); /* Làm mờ phần tử dưới header */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  transition: background-color 0.3s ease;
}

/* Logo styling */
header img {
  height: 50px;
}

/* Navigation styling */
header .nav-list {
  display: flex;
  list-style: none;
  margin-top: 15px;
  gap: 25px;
}

.nav-list li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;

  color: rgb(255, 255, 255);
  transition: color 0.3s ease; 
}

.nav-list li a:hover {
  color: #e91c25; 
}
.nav-list li a.active {
  color: rgb(255, 37, 74); /* Màu sắc cho liên kết hiện tại */

}
/* Button styling */
.btn-section {
  display: flex;
  margin-right: 100px;
  gap: 10px;
}

.regist-btn {
  color: #ffffff;
  background-color: rgba(5, 11, 23, 0.7);
  width: 132px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.regist-btn:hover {
  cursor: pointer;
  background-color: #072c31;
}

.login-btn {
  background-color: #e91c25;
  color: white;
  height: 40px;
  width: 132px;
  text-align: center;
  border: none;
  border-radius: 20px;
  transition: transform 0.2s ease;
}

.login-btn:hover {
  transform: scale(1.1);
}
