* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: 217.2 32.6% 17.5%;
}

body {
  padding-top: 70px;
  background-color: #1a1a1a;
}
/* main content */
.container {
  max-width: 1400px; /* Set a max width for the container */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding */
}

.container .row {
  display: flex; /* Use flexbox for the row */
  flex-wrap: wrap;
  justify-content: start;
}
.container .main-title {
  display: flex;
  margin-left: 5px;
  gap: 10px;
}

.main-title h1 {
  font-size: 20px;
  color: #ffffff;
}

.container .row .card {
  background: #050b17; /* Background color of the card */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin: 10px; /* Space between cards */
  padding: 0;
  width: calc(20% - 20px);
  display: flex; /* Flex for card content */
  flex-direction: column; /* Stack content vertically */
}

.container .row .card .img-top img {
  width: 100%; /* Full width image */
  max-height: 290px;
  border-top-left-radius: 8px; /* Rounded corners on the top */
  border-top-right-radius: 8px; /* Rounded corners on the top */
}

.card-body {
  padding: 5px; /* Space inside the card body */
}

.card-body .day-time {
  display: flex; /* Flexbox for links */
  justify-content: space-between; /* Space between links */
  margin-bottom: 20px; /* Space below the links */
}
.card-body .day-time a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 11px;
  text-decoration: none;
  color: #444e60;
}
.title-card h1 {
  font-weight: bold;
  color: #b7b7b7;
  font-size: 16px; /* Title font size */
  margin: 0; /* Remove default margin */
}

@media (max-width: 768px) {
  .card {
    width: calc(45% - 20px); /* 2 cards in a row on smaller screens */
  }
}

@media (max-width: 480px) {
  .card {
    width: calc(100% - 20px); /* 1 card in a row on very small screens */
  }
}

/* Header styling */
header {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 70px;
  background-color: rgba(5, 11, 23, 0.7);
  backdrop-filter: blur(20px); /* Làm mờ phần tử dưới header */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  transition: background-color 0.3s ease;
}

/* Logo styling */
header img {
  height: 50px;
}

/* Navigation styling */
header .nav-list {
  display: flex;
  list-style: none;
  margin-top: 15px;
  gap: 25px;
}

.nav-list li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;

  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #e91c25;
}
.nav-list li a.active {
  color: rgb(255, 37, 74); /* Màu sắc cho liên kết hiện tại */
}
/* Button styling */
.btn-section {
  display: flex;
  margin-right: 100px;
  gap: 10px;
}

.regist-btn {
  color: #ffffff;
  background-color: rgba(5, 11, 23, 0.7);
  width: 132px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.regist-btn:hover {
  cursor: pointer;
  background-color: #272c2c;
}

.login-btn {
  background-color: #e91c25;
  color: white;
  height: 40px;
  width: 132px;
  text-align: center;
  border: none;
  border-radius: 20px;
  transition: transform 0.2s ease;
}

.login-btn:hover {
  transform: scale(1.1);
}
.welcome-message {
  cursor: pointer;
}
.btn-log-out {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 3px;
}
.icon-log-out {
  color: red;
  font-size: 24px;
  transition: color 0.3s;
  margin: 0 5px;
}
.icon-log-out {
  color: red;
  font-size: 24px;
  transition: color 0.3s;
}

.icon-log-out:hover {
  color: darkred; /* Màu khi hover */
}
.dropdown-menu .dropdown-item {
  color: #ffffff;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #878484;
}

/* Footer styling */
footer {
  background-color: #020203; /* Màu nền tối hơn */
  padding: 20px 0; /* Khoảng cách dọc */
  width: 100%;
}

.footer {
  list-style-type: none; /* Bỏ gạch đầu dòng cho danh sách */
  margin: 0;
  padding: 0;
}

.footer li {
  margin: 0 15px; /* Khoảng cách giữa các item trong footer */
  list-style: none;
}

.footer .nav-link {
  font-size: 17px;
  color: #f8f9fa; /* Màu chữ trắng nhạt */
  text-decoration: none; /* Bỏ gạch chân */
  transition: color 0.3s ease; /* Hiệu ứng khi hover */
}

.footer .nav-link ul li a:hover {
  color: #ff254a; /* Đổi màu khi hover */
}

/* Responsive adjustment */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Xếp chồng các item khi màn hình nhỏ */
    align-items: center; /* Căn giữa các item */
  }

  .footer li {
    margin: 10px 0; /* Tạo khoảng cách dọc khi xếp chồng */
  }
}

footer img {
  margin: 0 10px;
}
.img {
  margin: 10px;
}
.contact-bottom {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-bottom .text-light p {
  color: #f8f9fa; /* Màu chữ trắng nhạt */
  margin: 5px 0; /* Khoảng cách giữa các đoạn văn */
  font-size: 17px; /* Kích thước chữ phù hợp */
  line-height: 1.6; /* Độ cao dòng để dễ đọc */
}
.box-product {
  padding: 0px;
  overflow: hidden; /* Ẩn phần hình ảnh tràn ra ngoài */
  position: relative;
  width: 225px;
  height: 290px;
  border-radius: 10px;
}

.box-product img {
  width: 100%; /* Chiếm toàn bộ chiều rộng của khung chứa */
  height: auto; /* Giữ tỉ lệ khung hình */
  border-radius: 10px;
  transition: transform 0.3s ease; /* Chuyển động cho transform */
}

.box-product img:hover {
  transform: scale(1.2);
}
.custom-shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .contact-bottom .text-light p {
    font-size: 0.8rem; /* Giảm kích thước chữ trên màn hình nhỏ */
  }
}
