@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif; ;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.n-title{
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin: 62px 0 0 0px;
}

.n-flex-box{
    display: flex;
    flex-wrap: nowrap;
    gap :20px;
    margin: 20px ;
}
.f-box{
    width: 275px;
    height: 359px;
    border-radius: 10px;
    margin: 30px 0 0 0 ;
    border: 1px solid #ccc;
    outline: none;
}
.f-box img{ 
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.f-box img:hover{
    transform: skew(1.2);
}