.seatingChart {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-bottom: 20px;
  align-items: center;
}
.seatingChart span{
  color: rgb(122, 117, 117);
}
.seat {
  width: 40px !important; 
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
  border: 1px solid #ddd !important; 
  border-radius: 5px !important;
}

.selected {
  border: 4px solid #e22121 !important;
}
.element-ghe{
  display: flex;
  align-items: center;
}
