/* Cấu trúc layout với Flexbox */
.order-management-container {
  display: flex; /* Sử dụng Flexbox để chia thành hai cột */
  gap: 20px; /* Khoảng cách giữa hai cột */
  margin-top: 20px;
}

.orders-list {
  width: 60%; /* Chiếm 60% không gian */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.order-details {
  width: 35%; /* Chiếm 35% không gian */
  height: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the table and buttons */
.table {
  width: 100%;
  background: white;
  border-radius: 0.5rem;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  border: 1px solid #dddddd46;
  padding: 15px 20px;
  text-align: center;
  font-size: 14px;
}

.table th {
  background-color: #4d6950;
  color: white;
  font-size: 16px;
}

.table tbody tr:hover {
  background-color: #f2f2f2;
}

/* Buttons in Table */
.editButton {
  padding: 8px 15px;
  background-color: #4d6950;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}


.active>.page-link, .page-link.active{
  background-color: #4d6950;
  color: #fff;
  border-color: unset;
  

}
.page-link{
  color: black;
 
}
/* Search section container */
.search-section {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Date input styling */
.search-section input[type="date"] {
  flex: 1;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.search-section input[type="date"]:focus {
  outline: none;
  border-color: #4d6950;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Search button styling */
.search-section .search-button {
  padding: 8px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #4d6950;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-section .search-button:hover {
  background-color: #4d6950;
}
.filter-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 200px;
}

.filter-label {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;

}

.filter-select {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
  color: #000000;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filter-select:focus {
  border-color: #858585;
  box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.5);
  outline: none;
}

.filter-select:hover {
  border-color: #ffffff;
}
