/* Container */
.film-container {
  margin-top: 30px;

  /* Title */
  .film-title {
    text-align: center;
    font-size: 20px;
  }

  .age-warning {
    text-align: center;
    font-size: 20px;
    color: #ff4000;
  }

  /* List of Dates */
  .date-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .date-button {
      border: 1px solid #fff; 
      text-decoration: none; 
      color: #ffffff; 
      margin-top: 40px;
      margin-bottom: 10px;
      margin-right: 20px;
      border-radius: 20px; 
      font-size: 20px; 
      width: 200px; 
      height: 50px; 
      display: inline-block; 
      line-height: 50px;
      text-align: center;
      transition: background-size 0.8s ease;
      background-size: 100%  0%; 
      background-repeat: no-repeat;
      background-color:rgba(53,53,53,0.1);
    background-image: linear-gradient(to top , rgba(53,53,53,0.3) 0%, rgba(53,53,53,1) 100%); /* Gradient từ màu xám tối đến trắng */
    }
    .date-button:hover {
    background-image: linear-gradient(to top , rgba(53,53,53,0.3) 0%, rgba(53,53,53,1) 100%); /* Gradient từ màu xám tối đến trắng */
    background-size: 100% 100%;
    }
  }

  /* Film List Section */
  .film-list {
    margin-top: 10px;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

    /* Film Cards */
    .film-card {
      border-radius:10px;
      border: none;
      background-color: #212529;
      margin: 10px;

      .film-card-body {
        padding: 20px;
        color: #fff;
        font-size: 14px;

        .film-title {
          text-align: start;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .film-description {
          color: #ffffff;
          width: 250px;
        }
      }
    }

    .film-timeline {
      display: flex;
      margin-bottom: 10px;

      .release-date {
        font-size: 14px;
      }

      .duration-info {
        margin-left: 30px;
        font-size: 14px;
      }
    }
  }

  /* Image inside cards */
  .film-image {
    height: 100%;
  }
}
